<div class="container">
    <div class="card w-50 mx-auto my-4">
        <div class="card-header text-center">
            <h2>Search Github User</h2>
        </div>
        <div class="card-body d-flex justify-content-between">
            <input type="text" [(ngModel)]="usernameInput" class="form-control" placeholder="Enter username" required aria-describedby="Enter username">
            <button class="btn btn-primary" (click)="fetchGithubUserDetails()">Search</button>
        </div>
    </div>

    <!-- User Details Section -->
    <div class="row" *ngIf="userDetails">
        <div class="col-lg-6 col-sm-12">
            <app-profile-card [userDetails]="userDetails"></app-profile-card>
        </div>
        <div class="col-lg-6 col-sm-12">
            <app-repos [repos]="userDetails.repos_url"></app-repos>
        </div>
    </div>
</div>